<footer id="footer">
	<div class="inner">
		<div class="footer-item">
			<h3 class="title">Quicklinks</h3>
			<nav class="navlist vertical">
				<a href="/">Home</a>
				<a href="/gallery">Gallery</a>
				<a href="/login">Login</a>
				<a href="/registration">Registration</a>
			</nav>
		</div>

		<div class="footer-item">
			<h3 class="title">Social</h3>
			<nav class="navlist">
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
			</nav>
		</div>
	</div>

	<p id="copyright">Gurjeet Singh &copy; 2022</p>
</footer>

<script src="https://kit.fontawesome.com/6f67bd47b3.js" crossorigin="anonymous"></script>