<header id="header">
    <h1>Photography Gallery</h1>
</header>
<nav>
	<a href="/">Home</a>
	<a href="/gallery">Gallery</a>
	<a href="/login">Login</a>
	<a href="/registration">Registration</a>
</nav>